@model EventCrateViewModel
@*@model SortedList<int, IEnumerable<Event>>*@
@{
    ViewBag.Title = "Twój kalendarz";
    var today = ViewBag.Today;
}
<div class="container-fluid" style="height:600px">
    <h2 class="text-center m-4">Twój obecny tydzień</h2>
    <div class="row">
        @foreach (var keyValuePair in ViewBag.EventRepository)
        {

            <div class="col-sm border border-dark rounded p-2 @(keyValuePair.Key == today ? "today" : "") @(keyValuePair.Key == 6 && keyValuePair.Key != today ? "weekend" : "") @(keyValuePair.Key == 7 && keyValuePair.Key != today ? "weekend" : "") ">
                <h5 class="my-3 text-center font-weight-bold"> @ViewBag.Monday.AddDays(@keyValuePair.Key).ToString("dd/MM/yyyy") </h5>
                @foreach (var eevent in keyValuePair.Value)
                {
                    <button type="button" class="btn btn-block text-left my-1 @(@eevent.Priority == @Priority.HIGH ? "highP" : "") @(@eevent.Priority == @Priority.MEDIUM ? "mediumP" : "") @(@eevent.Priority == @Priority.LOW ? "lowP" : "")">
                        @eevent.From.ToString("HH:mm") - @eevent.To.ToString("HH:mm") @eevent.Name
                    </button>
                }

                <div class="container-fluid addEventBtn">
                    <div class="row justify-content-end">
                        <a href="#" class="btn btn-secondary px-2 py-0 addEvent rounded-circle" data-target="#addEvent" data-toggle="modal">
                            <h3 class=" font-weight-bold">+</h3>
                        </a>
                    </div>
                </div>

                <div class="modal" id="addEvent">

                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form enctype="multipart/form-data" asp-controller="home" asp-action="createevent" method="post" class="px-4 py-3">
                                <div class="form-group">
                                    <label asp-for="Name"></label>
                                    <input asp-for="Name" type="text" class="form-control" placeholder="wpisz zadanie">
                                </div>

                                <div class="form-group">
                                    <label asp-for="Priority"></label>
                                    <select asp-for="Priority" class="custom-select mr-sm-2"
                                            asp-items="Html.GetEnumSelectList<Priority>()">
                                        
                                    </select>
                                </div>

                                <div class="form-group date" data-provide="datepicker">
                                    <label for="inputFrom">From</label>
                                    <input type="text" class="form-control">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputTo">To</label>
                                    <input type="datetime" class="form-control" id="eventTo">
                                </div>


                                <button type="submit" class="btn btn-primary" >Dodaj</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


</div>
@section Scripts {
    <script>
        $('.datepicker').datepicker();
        $(document).off('.datepicker.data-api');
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'
        });
    </script>
}