@model IndexViewModel
@*@model SortedList<int, IEnumerable<Event>>*@
@{
    ViewBag.Title = "Twój kalendarz";
    var today = ViewBag.Today;
}
<div class="container-fluid" style="height:600px">
    <h2 class="text-center m-4">Twój obecny tydzień</h2>
    <div class="row">
        @foreach (var pair in Model.eventsInWeek)
        {

            <div class="col-sm border border-dark rounded p-2 @(pair.Key == today ? "today" : "") @(pair.Key == 6 && pair.Key != today ? "weekend" : "") @(pair.Key == 7 && pair.Key != today ? "weekend" : "") ">
                <h5 class="my-3 text-center font-weight-bold"> @ViewBag.Monday.AddDays(pair.Key).ToString("dd/MM/yyyy") </h5>
                @foreach (var eevent in @pair.Value)
                {
                    <button type="button" class="btn btn-block text-left my-1 @(@eevent.Priority == @Priority.HIGH ? "highP" : "") @(@eevent.Priority == @Priority.MEDIUM ? "mediumP" : "") @(@eevent.Priority == @Priority.LOW ? "lowP" : "")">
                        @eevent.From.ToString("HH:mm") - @eevent.To.ToString("HH:mm") @eevent.Name
                    </button>

                }

                <div class="container-fluid addEventBtn">
                    <div class="row justify-content-end">
                        <button @{
                                var newEventDate = @ViewBag.Monday.AddDays(pair.Key);
                            } 
                           class="btn btn-secondary px-2 py-0 addEvent rounded-circle" data-target="#addEvent" data-toggle="modal"  >
                            
                            <h3 class=" font-weight-bold">+</h3>
                        </button>
                    </div>
                </div>

                <div class="modal" id="addEvent">

                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form enctype="multipart/form-data" asp-controller="home" asp-action="createevent" method="post" class="px-4 py-3">
                                <input hidden asp-for="eventCreate.UserId" value="@Model.eventsInWeek.First().Value.First().UserId" />
                                <input hidden asp-for="eventCreate.Date" type="datetime" value="@ViewBag.Monday.AddDays(pair.Key)" />
                                <h3>Test: @ViewBag.Monday.AddDays(pair.Key).ToString("dd/MM/yyyy")</h3>
                                <h3>@newEventDate</h3>

                                <div class="form-group">
                                    <input asp-for="eventCreate.Name" type="text" class="form-control" placeholder="podaj nazwę">
                                </div>

                                <div class="form-group">
                                    <label asp-for="eventCreate.Priority"></label>
                                    <select asp-for="eventCreate.Priority" class="custom-select mr-sm-2"
                                            asp-items="Html.GetEnumSelectList<Priority>()"></select>
                                </div>

                                <div class="form-group date" data-provide="datepicker">
                                    <label for="inputFrom">From</label>
                                    <input type="text" class="form-control">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputTo">To</label>
                                    <input type="datetime" class="form-control" id="eventTo">
                                </div>


                                <button type="submit" class="btn btn-primary">Dodaj</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


</div>
@section Scripts {
    <script>
        $('.datepicker').datepicker();
        $(document).off('.datepicker.data-api');
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'
        });
    </script>
}