@model SortedList<int, IEnumerable<Event>>
@{
    ViewBag.Title = "Twój kalendarz";
    var today = ViewBag.Today;
}
<div class="container-fluid" style="height:600px; background-color: lavender">
    <h2 class="text-center m-4">Twój obecny tydzień</h2>
    <div class="row">
        @foreach (var keyValuePair in Model)
        {

            <div class="col-sm border border-dark rounded p-2 @(keyValuePair.Key == today ? "today" : "") @(keyValuePair.Key == 6 && keyValuePair.Key != today ? "weekend" : "") @(keyValuePair.Key == 7 && keyValuePair.Key != today ? "weekend" : "") ">
                <h5 class="my-3 text-center font-weight-bold"> @ViewBag.Monday.AddDays(@keyValuePair.Key).ToString("dd/MM/yyyy") </h5>
                @foreach (var eevent in keyValuePair.Value)
                {
                    <button type="button" class="btn btn-block text-left my-1 @(@eevent.Priority == @Priority.HIGH ? "highP" : "") @(@eevent.Priority == @Priority.MEDIUM ? "mediumP" : "") @(@eevent.Priority == @Priority.LOW ? "lowP" : "")">
                        @eevent.From.ToString("HH:mm") - @eevent.To.ToString("HH:mm") @eevent.Name
                    </button>
                }

                    <span class="align-bottom">
                        <a href="#" class="btn btn-secondary px-2 py-0 addEvent" data-target="#addEvent" data-toggle="modal">
                            <h3 class=" font-weight-bold">+</h3>
                        </a>
                    </span>

                <div class="modal" id="addEvent">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form class="px-4 py-3">
                                <div class="form-group">
                                    <label for="inputName"></label>
                                    <input type="text" class="form-control" id="eventName" placeholder="wpisz zadanie">
                                </div>
                                <input data-provide="datepicker">
                                <div class="form-group date" data-provide="datepicker">
                                    <label for="inputFrom">From</label>
                                    <input type="text" class="form-control">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputTo">To</label>
                                    <input type="datetime" class="form-control" id="eventTo">
                                </div>


                                <div class="form-group">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                        <label class="form-check-label" for="dropdownCheck">
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Sign in</button>
                                <a class="btn btn-primary" href="#" data-dismiss="modal">Zapisz</a>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>




</div>

@section Scripts {
    <script>
        $('.datepicker').datepicker();
        $(document).off('.datepicker.data-api');
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'
        });
    </script>
}